<div class="main_container">
    <h1>Welcome back!</h1>

    <h3>Here is your subscriptions list:</h3>

    {{#each channelsList}}
        <span>{{this.name}}</span>>
    {{/each}}

    <p>Total cost: {{price}}</p>

</div>