<div>
    <form action="/sign_in">
        <input type="submit" class="" value="Sign in">
    </form>
    <form action="/login">
        <input type="submit" class="" value="Log in">
    </form>

    <h1>Channels:</h1>
    <!--{{#each listOfDecks}}-->
        <!--<form action="/game/new" method="post">-->
            <!--<input type="hidden" value="{{this.id}}" name="deck_name">-->
            <!--<input type="submit" class="deck_send" value="{{this.name}}">-->
        <!--</form>-->
    <!--{{/each}}-->
</div>

