
<h1>{{title}}</h1>

<section class="sidebar">
    <h1>To use our site you need to register first.</h1>
    <h2>Please enter your email and password.</h2>

    <form id="sign_in" action="/sign_in" method="post">

        <label for="email">Email:</label>
        <input type="text" name="email" required>

        <label for="password">Password:</label>
        <input type="text" name="password" required>

        <input type="submit" value="Submit">

    </form>
</section>